<footer>
    <div class="min-769">
        <h4 class="cont">CONTACTO</h4>
        <div class="contacto con-ico">
            <a href="#"><i class="far fa-envelope"> </i>  moviclaro@hotmail.com </a>
            <p class="fooTel"><i class="fab fa-whatsapp"></i> +54 9 11 2626-3232</p>
        </div>
        <div class="min-369">
            <div class="comprar min-369">
                <p>¿Como comprar?</p>
                <div class="redes cont-ico">
                    <a href="https://www.facebook.com/" class="ico-redes"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.twitter.com/" class="ico-redes"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" class="ico-redes"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-imagen min-369">
                <img src="/images/footer-logo.png" alt="">

            </div>
        </div>
    </div>
    <div class="derechos">
        <p>Todos los derechos reservados <span>Grupo-8&#9400</span>
        </p>
    </div>
</footer>