<footer>
    <div class="footer-conteiner">
    <div id="contacto">
        <div id="cont">CONTACTO</div>
        <span><i id="mail" class="far fa-envelope"></i>  <div id="dMail">moviclaro@hotmail.com</div></span>
        <span><i id="wsp" class="fab fa-whatsapp"></i>  <div id="numero">+54 9 11 2626-3232</div></span>
    </div>
    <div id="comprar">¿Como comprar?</div>
    <div id="redes">
        <i href="https://www.facebook.com/" id="fb" class="fab fa-facebook-square"></i>
        <i href="https://www.twitter.com/" id="tw" class="fab fa-twitter"></i>
        <i href="https://www.instagram.com/" id="ig" class="fab fa-instagram"></i>
    </div>
    </div>
</footer>