<header>
    <div class="header">
        <div class="cabecera">
            <img class="header-logo" src="/images/logo.png" alt="logo">
            <div class="header-busqueda">
                <div class="bus-carr">
                    <form action="#" method="GET">
                        <input class="header-search" type="search" name="search" id="search" placeholder="  Busqueda">
                        <i class="fas fa-search"></i>
                    </form>
                    <a href="/carrito"><i class="fas fa-shopping-cart header-burger"></i></a>
                    <i class="fas fa-bars header-burger"></i>
                </div>
            </div>
        </div>
        <nav class="header-navegacion">
            <div class="header-enlaces-burger">
                <a href="/">Inicio</a>
                <a href="/registro">Registro</a>
                <a href="/login">Iniciar sesión</a>
            </div>
        </nav>

    </div>
</header>