<header>
    <div class="header">
        <div class="header-logo">
            <a href="/">
                <img class="header-logo-368px" src="/images/header-logo-368px.png" alt="logo">
                <img class="header-logo-768px" src="/images/header-logo-768px.png" alt="logo">
            </a>
        </div>
        <div class="header-busqueda">
            <form action="/search" method="POST"> 
                <input class="header-search" type="search" name="search" id="search" placeholder="  Busqueda">
                <i class="fas fa-search" ></i>
            </form>
        </div>
        <div class="header-carrito">
            <form action="/agregarCarrito" method="GET">
                <a href="./agregarCarrito"><i class="fas fa-shopping-cart"></i></a>
            </form>
        </div>
        <% if (locals.isLogged){ %>
            <div class="imagen-perfil-header">
                <a href="/user"> <img src="/images/avatars/<%= user.image %> " alt="Imagen de perfil miniatura"></a>
            </div>
            <% } %>
    </div>
    <div class="header-navegacion">
        <nav>
            <i class="fas fa-bars"></i>
            <div class="header-enlaces-burger">
                <a href="/store">Tienda</a>
                <% if (locals.isLogged){ %>
                    <% if (locals.userLogged.category_id =="2"){ %>
                        <a href="/nuevoProducto">Nuevo Producto</a>
                        <a href="/user">Perfil</a>
                        <a href="/logout">Cerrar Sesi贸n</a>
                    <% } else{%>
                            <a href="/user">Perfil</a>
                            <a href="/logout">Cerrar Sesi贸n</a>
                         <% } %>
                <% } else { %>
                    <a href="/registro">Registro</a>
                    <a href="/login">Iniciar sesi贸n</a>
                <% } %>
            </div>
        </nav>
    </div>
    <div class="banner">
        <img src="/images/banners02.jpg" alt="banner" title="Imagen Promoci贸nal">
    </div>

</header>