<header>
    <div class="header">
        <div class="header-logo">
            <a href="/">
                <img class="header-logo-368px" src="/images/header-logo-368px.png" alt="logo">
                <img class="header-logo-768px" src="/images/header-logo-768px.png" alt="logo">
            </a>
        </div>
        <div class="header-busqueda">
            <form action="/search" method="GET"> 
                <input class="header-search" type="search" name="search" id="search" placeholder="  Busqueda">
                <i class="fas fa-search" ></i>
            </form>
        </div>
        <div class="header-carrito">
            <form action="/agregarCarrito" method="GET">
                <a href="./agregarCarrito"><i class="fas fa-shopping-cart"></i></a>
            </form>
        </div>
        <% if (locals.isLogged){ %>
            <div class="imagen-perfil-header">
                <a href="/user"> <img src="/images/avatars/<%= locals.userLogged.image %> " alt="Imagen de perfil miniatura"></a>
            </div>
            <% } %>
    </div>
    <div class="header-navegacion">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container-fluid  ">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse  justify-content" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/store">Tienda</a>
                        </li>
                <% if (locals.isLogged){ %>
                    <% if (locals.userLogged.category_id =="2"){ %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/nuevoProducto">Nuevo Producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost:3000">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/logout">Cerrar Sesi贸n</a>
                        </li>
                    <% } else{%>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Cerrar Sesi贸n</a>
                    </li>
                    <% } %>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/registro">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Iniciar sesi贸n</a>
                        </li>
                        <% } %>
                    </ul>
            </div>
        </nav>
    </div>
    <div class="banner">
        <img src="/images/banners02.jpg" alt="banner" title="Imagen Promoci贸nal">
    </div>

</header>