<header>
    <div class="header">
        <div class="header-logo">
            <a href="/">
                <img class="header-logo-368px" src="/images/header-logo-368px.png" alt="logo">
                <img class="header-logo-768px" src="/images/header-logo-768px.png" alt="logo">
            </a>
        </div>
        <div class="header-busqueda">
            <form action="#" method="GET">
                <input class="header-search" type="search" name="search" id="search" placeholder="  Busqueda">
                <i class="fas fa-search"></i>
            </form>
        </div>
        <div class="header-carrito">
            <form action="/agregarCarrito" method="GET">

                <a href="./agregarCarrito"><i class="fas fa-shopping-cart"></i></a>
            </form>
        </div>
    </div>
    <div class="header-navegacion">
        <nav>
            <i class="fas fa-bars"></i>
            <div class="header-enlaces-burger">
                <a href="/store">Tienda</a>
                <a href="/nuevoProducto">Nuevo Producto</a>
                <a href="/registro">Registro</a>
                <a href="/login">Iniciar sesión</a>
            </div>
        </nav>
    </div>
    <div class="banner">
        <img src="/images/banners02.jpg" alt="banner" title="Imagen promocional">
    </div>

</header>