<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f849052f17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/indexStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="header">
            <div class="cabecera">
                <img class="header-logo" src="/images/logo.png" alt="logo">
                <div class="header-busqueda">
                    <div class="bus-carr">
                        <form action="#" method="GET">
                            <input class="header-search" type="search" name="search" id="search" placeholder="  Busqueda">
                            <i class="fas fa-search"></i>
                        </form>
                        <a href="/carrito"><i class="fas fa-shopping-cart header-burger"></i></a>
                        <i class="fas fa-bars header-burger"></i>
                    </div>
                </div>
            </div>
            <nav class="header-navegacion">
                <div class="header-enlaces-burger">
                    <a href="/">Inicio</a>
                    <a href="/registro">Registro</a>
                    <a href="/login">Iniciar sesión</a>
                </div>
            </nav>

        </div>
    </header>
    <main>
        <div class="banner">
            <img src="/images/banner.jpg" alt="banner" title="Imagen promocional">
        </div>
        <!-- Barra lateral -->
        <h1>Listado de Productos</h1>
        <br>
        <section class="conteinerPrincipal">
            <section class="conteinerFiltros">
                <h2>Filtros</h2>
                <h3>Marcas</h3>
                <section class="items">
                    <div class="item"><input type="checkbox" value="">Motorola</div>
                    <div class="item"><input type="checkbox" value="">Samsung</div>
                    <div class="item"><input type="checkbox" value="">Apple</div>
                </section>
                <h3>Sist. Operativo</h3>
                <section class="items">
                    <div class="item"><input type="checkbox" value="">IOS</div>
                    <div class="item"><input type="checkbox" value="">Androi</div>
                    <div class="item"><input type="checkbox" value="">Windows</div>
                </section>
                <h3>Precio</h3>
                <div>Desde<input class="itemPrecio" type="input" value=""></div>
                <div>Hasta<input class="itemPrecio" type="input" value=""></div>
                <input class="botonFiltrar" type="button" value="Filtrar">
            </section>
            <!-- Fin de barra lateral -->

            <!-- Contenido principal -->
            <section class="conteiner">
                <!-- Inicio articulo -->
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
                <!-- fin articulo -->
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
                <article class="articulo">
                    <form action="/agregarCarrito" method="POST">
                        <div>
                            <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo">
                        </div>
                        <div class="articulo-desc">
                            <h3>Motorola Moto Edge 20 Pro</h3>
                            <p>Azul</p>
                            <p>$99.999</p>
                            <a href="/detalle">
                                <p>Ver detalle</p>
                            </a>
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </div>
                    </form>
                </article>
            </section>
            <!-- Fin de contenido principal -->
        </section>
    </main>
    <footer>aca va el footer</footer>
</body>

</html>