<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!-- Borrar estas lineas. Lo puse para probar que las paginas funcionaran bien. -->
    <h1>Probando servidor index.html</h1>
    <ul>
        <li>
            <a href="/detalle">Detalle de producto</a>
        </li>
        <li>
            <a href="/carrito">Carrito de compras</a>
        </li>
        <li>
            <a href="/registro">Registro</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <!-- Enlacé todas las páginas para ver si todo funcionaba bien y esta todo perfecto -->
    </ul>
</body>

</html>