<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>

<body>
   <headear></headear>
   <h1>Detalle de Producto</h1>
    <button><a href="/">Volver al listado</a></button>
    <section class="celular">
        <article>
            <img id=celular src="images/motog20-breeze-blue_front.png" width="400px">
            <div id="Nombre">Motorola Moto Edge 20 Pro</div>
            <div>$99.999</div>
            <div id="envio-stock">
                <mat-divider _ngcontent-jal-c252="" role="separator" class="mat-divider mat-divider-horizontal" aria-orientation="horizontal"></mat-divider>
                <span>En stock</span> <i class="fas fa-check"></i><br>
               <span>Envio gratis</span> <i class="fas fa-truck"></i>
               <mat-divider _ngcontent-jal-c252="" role="separator" class="mat-divider mat-divider-horizontal" aria-orientation="horizontal"></mat-divider>
            </div>
        </article>
        <button class="botonComprar" type="button">Comprar</button>
        <article>
            <ul >
                <a>Color:</a>
                <select  class="selecet Color" name="colorCelular">
                    <option value="negro">Negro</option>
                    <option value="azul" selected>Azul</option>
                    <option value="blanco">Blanco</option>
                  </select>
            </ul>
            <div class="descripcion">
                <h3>Descripción</h3>
            <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, velit deserunt hic perspiciatis inventore voluptatum molestiae nesciunt! Nihil blanditiis perspiciatis minima praesentium necessitatibus, non amet quasi odio dolores doloremque similique!</a>
            </div>
        </article>    
    </section>
    <footer>
        <div id="contacto">
            <div id="cont">CONTACTO</div>
            <span><i id="mail" class="far fa-envelope"></i> <div id="dMail">moviclaro@hotmail.com</div></span>
            <span><i id="wsp" class="fab fa-whatsapp"></i> <div id="numero">+54 9 11 2626-3232</div></span>
        </div>
     <!--<p id="comprar">¿Como comprar?</p>-->
        <div id="redes">
            <i href="https://www.facebook.com/" id="fb" class="fab fa-facebook-square"></i>
            <i href="https://www.twitter.com/" id="tw" class="fab fa-twitter"></i>
            <i href="https://www.instagram.com/" id="ig" class="fab fa-instagram"></i>
        </div>
    </footer>
</body>
</html>