<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/productCartStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <header>aca va el header</header>
    <main>
        <img src="/images/logo.png" alt="logo" width="200px">
        <!-- Eliminar esta linea. La hice para fines practicos -->
        <h1>Probando servidor index.html</h1>
        <ul>
            <li>
                <a href="/detalle">Detalle de producto</a>

            </li>
            <li>
                <a href="/carrito">Carrito de compras</a>
            </li>
            <li>
                <a href="/registro">Registro</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <!-- Enlacé todas las páginas para ver si todo funcionaba bien y esta todo perfecto -->
        </ul>
        <h1>Tu Pedido</h1>
        <section class="conteinerPrincipal">
            <section class="conteiner">
                <article class="articulo">
                    <div class="articulo1">
                        <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo" width="200px">
                    </div>
                    <div class="articulo2">
                        <h3>Motorola Moto Edge 20 Pro</h3>
                        <h4>Azul</h4>
                        <h4>$99.999</h4>
                        <div class="cantidad">
                            <h4>Cantidad</h4>
                            <select class="inputCantidad" name="select">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="v3">3</option>
                  </select>
                        </div>
                    </div>
                </article>
                <article class="articulo">
                    <div class="articulo1">
                        <img class="imagenArticulo" src="/images/motog20-breeze-blue_front.png" alt="logo" width="200px">
                    </div>
                    <div class="articulo2">
                        <h3>Motorola Moto Edge 20 Pro</h3>
                        <h4>Azul</h4>
                        <h4>$99.999</h4>
                        <div class="cantidad">
                            <h4>Cantidad</h4>
                            <select class="inputCantidad" name="select">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="v3">3</option>
                  </select>
                        </div>
                    </div>
                </article>

            </section>
            <section class="carrito">
                <h2>Total</h2>
                <h3>$ 200.000</h3>
                <input class="botonComprar" type="button" value="Finalizar la Compra">
            </section>
        </section>
    </main>
    <footer>aca va el footer</footer>
</body>

</html>