<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!-- Borrar esta linea. Puse el H1 para probar que las paginas funcionaran bien. -->
    <img src="/images/logo.png" alt="logo" width="200px">
    <!-- Eliminar esta linea. La hice para fines practicos -->
    <h1>Probando servidor productCart.html</h1>
    <button><a href="/">Volver</a></button>
</body>

</html>