<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
   <headear></headear>
   <h1>Detalle de Producto</h1>
    <button><a href="/">Volver al listado</a></button>
    <section class="celular">
        <article>
            <div #Nombre>Motorola Moto Edge 20 Pro</div>
            <div>$99.999</div>
            <span>Envio gratis</span>
            <spna>En stock</spna>
        </article>
        <img id=celular src="images/telefono-celular-lg-k40s.jpg" width="90%">
        <button class=botonComprar>Agregar al Carrito</button>
        <article>
            <ul>
                <a>Color:</a>
            </ul>
            <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, velit deserunt hic perspiciatis inventore voluptatum molestiae nesciunt! Nihil blanditiis perspiciatis minima praesentium necessitatibus, non amet quasi odio dolores doloremque similique!</a>
        </article>
        
    </section>
    
</body>

</html>