* {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
}

h1 {
    text-align: center;
    padding: 30px;
    margin: 15px 0 0 0;
}


/* ==== HEADER ==== */

header {
    padding: 15px 5px;
    border-bottom: solid 2px rgba(170, 156, 163, 0.6);
    height: 60px;
    margin: 10px 0;
    background-color: #25FAD3;
}

.cabecera {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px auto;
    width: 80%;
    margin: 0 auto;
}

.bus-carr {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    width: 40px;
    margin-right: 10px;
}

.header-busqueda form {
    position: relative;
}

.header-search {
    border-radius: 20px;
    height: 30px;
    background-color: #eeeeee;
    border: solid 2px black;
}

.header-burger,
.fa-search {
    color: black;
}

.header-busqueda i.fa-search {
    position: absolute;
    margin-left: -25px;
    margin-top: 6px;
}

.header-burger {
    font-size: 20px;
}

.header-enlaces-burger {
    display: none;
}

@media (min-width: 361px) {
    header {
        border: none;
        height: 80px;
        padding: 15px 0 10px 0;
        margin: 0 auto;
    }
    .header {
        display: inline;
        flex-wrap: nowrap;
    }
    .cabecera {
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
    .bus-carr {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .fa-bars.header-burger {
        display: none;
    }
    .header-enlaces-burger {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        margin: 15px 0;
    }
    .header-enlaces-burger a {
        color: #eeeeee;
        text-decoration: none;
        margin: 4px 0;
    }
}

@media (min-width: 769px) {
    .header-logo {
        width: 60px;
    }
    .cabecera {
        width: 70%;
    }
}


/* ==== FIN DE HEADER ==== */

.conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 70;
    margin-bottom: 20px;
    justify-content: center;
}

.conteinerFiltros{
    display: none;
    flex-direction: column;
    padding: 0px;
    margin: 10px;
    flex-grow: 30%; 
    justify-content: left;  
}

.conteinerPrincipal {
    display: flex;
    flex-direction: row;
}



.botonComprar{
    background: #25FAD3;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    transition: 100ms;

    }
    
.botonComprar:hover{
        background-color: greenyellow;
        width: 110px;
        height: 55px;
        border-color: grey;
        transition: 100ms;
       
}

.botonFiltrar{
    background: #CFCCCC;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    }


.imagenArticulo {
    width: 50%;
    height: 50%;
    padding: 5px;
}

@media (min-width: 768px) {
    .conteinerFiltros {
        display: initial;
    }
}

.item {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.articulo {
    padding: 5px;
    text-align: center;
    margin: 10px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(170, 156, 163, 0.6);
    border-radius: 20px;
}

.itemPrecio {
    width: 50px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(170, 156, 163, 0.6);
    border-radius: 8px;
}