* {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
}

h1 {
    text-align: center;
    padding: 30px;
    margin: 15px 0 0 0;
}


/* ==== HEADER ==== */

header {
    padding: 15px 5px;
    border-bottom: solid 2px rgba(170, 156, 163, 0.6);
    height: 60px;
    margin: 10px 0;
    background-color: #25FAD3;
}

.cabecera {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px auto;
    width: 80%;
    margin: 0 auto;
}

.bus-carr {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    width: 40px;
    margin-right: 10px;
}

.header-busqueda form {
    position: relative;
}

.header-search {
    border-radius: 20px;
    height: 30px;
    background-color: #eeeeee;
    border: solid 2px black;
}

.header-burger,
.fa-search {
    color: black;
}

.header-busqueda i.fa-search {
    position: absolute;
    margin-left: -25px;
    margin-top: 6px;
}

.header-burger {
    font-size: 20px;
}

.header-enlaces-burger {
    display: none;
}

@media (min-width: 361px) {
    header {
        border: none;
        height: 80px;
        padding: 15px 0 10px 0;
        margin: 0 auto;
    }
    .header {
        display: inline;
        flex-wrap: nowrap;
    }
    .cabecera {
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
    .bus-carr {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .fa-bars.header-burger {
        display: none;
    }
    .header-enlaces-burger {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        margin: 15px 0;
    }
    .header-enlaces-burger a {
        color: #eeeeee;
        text-decoration: none;
        margin: 4px 0;
    }


/* ==== FIN DE HEADER ==== */

.conteiner {
    display: inherit;
    flex-direction: colum;
    flex-wrap: wrap;
    flex-grow: 70;
    margin-bottom: 20px;
    align-items: stretch;
    justify-content: space-around;
}

.carrito{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    flex-grow: 30;  
    align-items: self-end; 
    box-shadow: 0px 0px 5px rgb(170 156 163 / 60%);
    border-radius: 20px;;
}



.conteinerPrincipal{
    display: flex;
    flex-direction: column;
    align-self: start;
}

.botonComprar {
    background: #25FAD3;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    align-self: start;
    margin: 0px auto;
}

.imagenArticulo {
    padding: 10px;
}

@media (min-width: 768px) {
    .conteinerFiltros {
        display: initial;
    }
    .conteinerPrincipal {
        display: flex;
        flex-direction: row;
    }
    .articulo {
        display: flex;
        flex-direction: row;
        margin: 5px;
    }
    .fuenteCarrito{
        margin:16px;
    }
}

.item {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.articulo {
    width: 70%;
    box-shadow: 0px 0px 5px rgba(170, 156, 163, 0.6);
    border-radius: 20px;
    margin: 10px;
    justify-content: center
}

.itemPrecio {
    width: 50px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(170, 156, 163, 0.6);
    border-radius: 8px;
}

.cantidad {
    display: flex;
    justify-content: center;
}

.inputCantidad {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 5px rgba(170, 156, 163, 0.6);
    border-radius: 8px;
    text-align: center;
}

.articulo2 {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.articulo1 {
    align-self: center;
}

.fuenteCarrito{
    margin:10px
}