body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffe7f4;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000
}


/* ==== FIN DE HEADER ==== */

.titulo-registro {
    text-align: center;
    padding: 30px;
    margin: 15px 0 0 0;
}

.formulario {
    background-color: white;
    width: 80%;
    padding: 20px 15px;
    /* border: 1.5px solid rgba(0, 0, 0, 0.5); */
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(170, 156, 163, 0.6);
}

.registro-campos {
    margin: 10px;
}

.input {
    background-color: white;
    width: 100%;
    height: 24px;
    padding: 2px;
    box-shadow: 2px 2px 4px rgba(170, 156, 163, 0.6);
    border: none;
    margin-top: 5px;
}

.select {
    background-color: white;
}

.registro-campos select {
    height: 28px;
    padding: 2px;
    width: 101%;
}

.botones {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

.check {
    width: 80%;
    margin: 24px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    font-size: 14px;
    font-style: italic;
}

.registro-boton {
    background: #25FAD3;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: 2px solid black;
    transition: all 100ms;
}

.registro-boton:hover {
    background-color: greenyellow;
    width: 110px;
    height: 55px;
    border-color: grey;
}

@media (min-width: 769px) {
    .check {
        margin-top: 24px;
        text-align: left;
    }
    .registro-formulario {
        display: flex;
        flex-wrap: wrap;
    }
    .registro-campos {
        width: 45%;
    }
}


/* LOGIN */

.registro-boton.login {
    margin: 10px auto;
}

.no-registrado p {
    font-size: 14px;
    text-align: center;
    margin: 12px auto;
}

.no-registrado a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.formulario.login {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro-campos.login {
    width: 80%;
}

@media (min-width: 361px) {
    .main-register-login {
        padding: 0 20px;
    }
}

@media (min-width: 769px) {
    .formulario.login {
        width: 50%;
    }
    .registro-campos.login {
        width: 60%;
    }
    .main-register-login {
        padding: 20px;
    }
}


/* CREACION DE PRODUCTO */

textarea {
    resize: none;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(170, 156, 163, 0.6);
    /* border: 0.25px solid rgba(170 156 163 / 60%); */
    border: none;
    margin-top: 5px;
}

.registro-campos input[type="file"] {
    margin-top: 5px;
}