    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: #ffe7f4;
        font-family: 'Nunito Sans', sans-serif;
        color: #000000
    }
    
    .boludeo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .titulo-registro {
        text-align: center;
    }
    
    .formulario {
        background-color: #ffe7f4;
        width: 80%;
        padding: 20px 15px;
        /* border: 1.5px solid rgba(0, 0, 0, 0.5); */
        margin: 0 auto;
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(170, 156, 163, 0.6);
    }
    
    .registro-campos {
        margin: 10px;
    }
    
    .input {
        background-color: #ffe7f4;
        width: 100%;
        padding: 2px;
        box-shadow: 2px 2px 4px rgba(170, 156, 163, 0.6);
        border: none;
    }
    
    .select {
        background-color: #ffe7f4;
    }
    
    .botones {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 0 0;
    }
    
    .check {
        width: 80%;
        margin: 24px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: flex-start;
        font-size: 14px;
        font-style: italic;
    }
    
    .registro-boton {
        background: #25FAD3;
        border-radius: 50px;
        width: 100px;
        height: 50px;
        font-weight: bold;
        border: 2px solid black;
        transition: .5s;
        /* border-radius: 5px;
        border: 0.25px solid rgba(0, 0, 0, 0.25); 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);*/
    }
    
    .registro-boton:hover {
        background-color: #25acfa;
    }
    
    @media (min-width: 768px) {
        .check {
            margin-top: 24px;
            text-align: left;
        }
        .registro-formulario {
            display: flex;
            flex-wrap: wrap;
        }
        .registro-campos {
            width: 45%;
        }
    }