<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/f849052f17.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/registro.css">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
    <header>
        <div class="header">
            <div class="cabecera">
                <img class="header-logo" src="/images/logo.png" alt="logo">
                <div class="header-busqueda">
                    <div class="bus-carr">
                        <form action="#" method="GET">
                            <input class="header-search" type="search" name="search" id="search" placeholder="  Busqueda">
                            <i class="fas fa-search"></i>
                        </form>
                        <a href="/carrito"><i class="fas fa-shopping-cart header-burger"></i></a>
                        <i class="fas fa-bars header-burger"></i>
                    </div>
                </div>
            </div>
            <nav class="header-navegacion">
                <div class="header-enlaces-burger">
                    <a href="/">Inicio</a>
                    <!-- <a href="/detalle">Productos</a> -->
                    <a href="/registro">Registro</a>
                    <a href="/login">Iniciar sesión</a>
                </div>
            </nav>

        </div>
    </header>

    <main>
        <div class="banner">
            <img src="/images/banner.jpg" alt="banner" title="Imagen promocional">
        </div>
        <h2 class="titulo-registro">Crear cuenta</h2>
        <form action="#" method="POST" class="formulario">
            <div class="registro-formulario">
                <div class="registro-campos">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="input">
                </div>
                <div class="registro-campos">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="input">
                </div>
                <div class="registro-campos">
                    <label for="mail">E-mail</label>
                    <input type="email" name="mail" id="mail" class="input">
                </div>
                <div class="registro-campos">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="input">
                </div>
                <div class="registro-campos">
                    <label for="celular">Celular</label>
                    <input type="number" name="celular" id="celular" class="input">
                </div>
                <div class="registro-campos">
                    <label>País</label>
                    <select name="pais" class="input select">
                        <option value="null" >----</option>
                        <option value="arg">Argentina</option>
                        <option value="uru">Uruguay</option>
                        <option value="esp">España</option>
                        <option value="mex">México</option>
                        <option value="chi">Chile</option>
                        <option value="gua">Guatemala</option>
                        <option value="hon">Honduras</option>
                        <option value="sal">El Salvador</option>
                        <option value="ven">Venezuela</option>
                        <option value="col">Colombia</option>
                        <option value="cub">Cuba</option>
                        <option value="bol">Bolivia</option>
                        <option value="per">Perú</option>
                        <option value="ecu">Ecuador</option>
                        <option value="par">Paraguay</option>
                     </select>
                </div>
            </div>
            <div class="check">
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos">He leído y acepto los términos y condiciones.</label>
            </div>
            <div class="botones">
                <button type="reset" class="registro-boton">BORRAR</button>
                <button type="submit" class="registro-boton">ENVIAR</button>
            </div>

        </form>

    </main>
    <footer>
        <div class="footer-conteiner">
            <div id="contacto">
                <div id="cont">CONTACTO</div>
                <span><i id="mail" class="far fa-envelope"></i>  <div id="dMail">moviclaro@hotmail.com</div></span>
                <span><i id="wsp" class="fab fa-whatsapp"></i>  <div id="numero">+54 9 11 2626-3232</div></span>
            </div>
            <div id="comprar">¿Como comprar?</div>
            <div id="redes">
                <i href="https://www.facebook.com/" id="fb" class="fab fa-facebook-square"></i>
                <i href="https://www.twitter.com/" id="tw" class="fab fa-twitter"></i>
                <i href="https://www.instagram.com/" id="ig" class="fab fa-instagram"></i>
            </div>
        </div>
    </footer>










</body>

</html>