<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <section class="celular">
                    <img id=celular src="images/motog20-breeze-blue_front.png">
                    <div class="texto-botones-desc">
                        <div class="Info">
                            <h2>Motorola Moto Edge 20 Pro</h2>
                            <p>$99.999</p>
                        </div>
                        <div class="envio-stock">
                            <p>En stock <i class="fas fa-check"></i></p>
                            <p>Envio gratis <i class="fas fa-truck"></i></p>
                        </div>
                        <form action="/agregarCarrito" method="POST">
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </form>
                        <ul class="select-option">
                            <label>Color:</label>
                            <select class="selecet Color" name="colorCelular">
                        <option value="negro">Negro</option>
                        <option value="azul" selected>Azul</option>
                        <option value="blanco">Blanco</option>
                    </select>
                        </ul>

                        <div class="descripcion">
                            <h3>Descripción</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, velit deserunt hic perspiciatis inventore voluptatum molestiae nesciunt! Nihil blanditiis perspiciatis minima praesentium necessitatibus, non amet quasi odio
                                dolores doloremque similique!
                            </p>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <div class="footer-conteiner">
                    <div id="contacto">
                        <div id="cont">CONTACTO</div>
                        <span><i id="mail" class="far fa-envelope"></i>  <div id="dMail">moviclaro@hotmail.com</div></span>
                        <span><i id="wsp" class="fab fa-whatsapp"></i>  <div id="numero">+54 9 11 2626-3232</div></span>
                    </div>
                    <div id="comprar">¿Como comprar?</div>
                    <div id="redes">
                        <i href="https://www.facebook.com/" id="fb" class="fab fa-facebook-square"></i>
                        <i href="https://www.twitter.com/" id="tw" class="fab fa-twitter"></i>
                        <i href="https://www.instagram.com/" id="ig" class="fab fa-instagram"></i>
                    </div>
                </div>
            </footer>
    </body>

</html>